In [5]:
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
import re
from sklearn.model_selection import train_test_split

In [6]:
# Load the data
# Data path
data_path = 'data/teach AI 12.12.23.csv'
data = pd.read_csv(data_path)
data.head()

,POST___TRAVEL,POST___ABORTION,ADM,RIV,ID,CNI_check,GCB_check_,Progress,Finished,Gender,...,Other_portals_6,Other_portals_7,Other_portals_7_TEXT,CNI_MEAN,FFNI___SSF_2_R,FFNI_Antagonism,FFNI_Neurotic,FFNI_Agentic,GCB_MEAN,PUR_MEAN
0,"We travellee to australia, the country was hot...",Banning abortion is against human rights if ch...,"3,33","2,78",63e55ecaa002eb54284210e8,#NULL!,#NULL!,"100,00",1,1,...,#NULL!,#NULL!,NaN,"3,69","4,00","2,86","3,33","3,75","5,00","3,67"
1,Recently went to Iceland and can't believe how...,"Once again, men are dictating what women shoul...","2,78","1,22",60562563c658b51a10bc7a4d,6,2,"100,00",1,2,...,1,#NULL!,NaN,"5,06","2,00","1,29","1,33","3,25","2,87","1,80"
2,So excited to pick up my new BMW. It will be g...,Very unsure on the new government legislation....,"3,22","1,44",654fa30e4eaf197c8678b860,6,2,"100,00",1,2,...,1,#NULL!,NaN,"4,06","4,00","1,57","4,00","3,75","3,13","2,93"
3,Time travelling in thf future and back in time,Don't agree . There should be freedom of choice,"3,89","2,67",637f7c2db2e351960e722a15,6,2,"100,00",1,1,...,#NULL!,#NULL!,NaN,"4,25","3,00","2,71","3,67","3,50","1,20","2,53"
4,barcelona is my favourite place to visit,everyone has a right to bodily autonomy - bann...,"1,44","1,78",60bf0f6824fa105c814baabc,6,4,"100,00",1,1,...,#NULL!,#NULL!,NaN,"4,06","3,00","2,86","3,33","3,50","4,00","3,07"

In [7]:
# Analyze the data
# Check the data types
# Check the missing values
data.replace('#NULL!', np.nan, inplace=True)
data.isnull().sum()

POST___TRAVEL                 0
POST___ABORTION               0
ADM                           0
RIV                           0
ID                            0
CNI_check                    47
GCB_check_                   47
Progress                      0
Finished                      0
Gender                        0
Gender_3_TEXT               183
Age                           0
Ethnic_background             0
Ethnic_background_8_TEXT    179
Location                      0
Education                     0
Education_6_TEXT            181
Employment                    0
Employment_7_TEXT           174
Marital_status                0
Twitter                       0
Other_portals_1             177
Other_portals_2              50
Other_portals_3              44
Other_portals_4             113
Other_portals_5             107
Other_portals_6             125
Other_portals_7             168
Other_portals_7_TEXT        168
CNI_MEAN                      0
FFNI___SSF_2_R                0
FFNI_Antagonism               0
FFNI_Neurotic                 0
FFNI_Agentic                  0
GCB_MEAN                      0
PUR_MEAN                      0
dtype: int64

In [8]:
# Get columns
data.columns

Index(['POST___TRAVEL', 'POST___ABORTION', 'ADM', 'RIV', 'ID', 'CNI_check',
       'GCB_check_', 'Progress', 'Finished', 'Gender', 'Gender_3_TEXT', 'Age',
       'Ethnic_background', 'Ethnic_background_8_TEXT', 'Location',
       'Education', 'Education_6_TEXT', 'Employment', 'Employment_7_TEXT',
       'Marital_status', 'Twitter', 'Other_portals_1', 'Other_portals_2',
       'Other_portals_3', 'Other_portals_4', 'Other_portals_5',
       'Other_portals_6', 'Other_portals_7', 'Other_portals_7_TEXT',
       'CNI_MEAN', 'FFNI___SSF_2_R', 'FFNI_Antagonism', 'FFNI_Neurotic',
       'FFNI_Agentic', 'GCB_MEAN', 'PUR_MEAN'],
      dtype='object')

In [9]:
# List of not needed columns to drop:
columns_to_drop = ['ID','CNI_check','GCB_check_','Progress','Finished','Location']
data.drop(columns=columns_to_drop, inplace=True)
data.head(2)

,POST___TRAVEL,POST___ABORTION,ADM,RIV,Gender,Gender_3_TEXT,Age,Ethnic_background,Ethnic_background_8_TEXT,Education,...,Other_portals_6,Other_portals_7,Other_portals_7_TEXT,CNI_MEAN,FFNI___SSF_2_R,FFNI_Antagonism,FFNI_Neurotic,FFNI_Agentic,GCB_MEAN,PUR_MEAN
0,"We travellee to australia, the country was hot...",Banning abortion is against human rights if ch...,"3,33","2,78",1,NaN,38,1,NaN,2,...,NaN,NaN,NaN,"3,69","4,00","2,86","3,33","3,75","5,00","3,67"
1,Recently went to Iceland and can't believe how...,"Once again, men are dictating what women shoul...","2,78","1,22",2,NaN,28,8,British,1,...,1,NaN,NaN,"5,06","2,00","1,29","1,33","3,25","2,87","1,80"

In [10]:
def clean(review):
    review = review.lower()
    review = re.sub('[^a-z A-Z 0-9-]+', '', review)
    review = " ".join([word for word in review.split() 
                       if word not in stopwords.words('english')])
    return review

In [11]:
data['POST___ABORTION'] = data['POST___ABORTION'].apply(clean)
data['POST___TRAVEL'] = data['POST___TRAVEL'].apply(clean)
data.head(2)

,POST___TRAVEL,POST___ABORTION,ADM,RIV,Gender,Gender_3_TEXT,Age,Ethnic_background,Ethnic_background_8_TEXT,Education,...,Other_portals_6,Other_portals_7,Other_portals_7_TEXT,CNI_MEAN,FFNI___SSF_2_R,FFNI_Antagonism,FFNI_Neurotic,FFNI_Agentic,GCB_MEAN,PUR_MEAN
0,travellee australia country hot amazing love b...,banning abortion human rights choice awful wom...,"3,33","2,78",1,NaN,38,1,NaN,2,...,NaN,NaN,NaN,"3,69","4,00","2,86","3,33","3,75","5,00","3,67"
1,recently went iceland cant believe beautiful l...,men dictating women bodies,"2,78","1,22",2,NaN,28,8,British,1,...,1,NaN,NaN,"5,06","2,00","1,29","1,33","3,25","2,87","1,80"

In [12]:
# Divide the data for validation and testing
# Split the data into training and testing sets
X = data['POST___ABORTION']
y = data['POST___TRAVEL']
train, validate = np.split(data.sample(frac=1,random_state=47), [int(.8*len(data))])

train.reset_index(drop=True, inplace=True)
validate.reset_index(drop=True, inplace=True)

/home/maciej/anaconda3/envs/studybase/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [13]:
# check the shape of the data
print(train.shape)
print(validate.shape)

(148, 30)
(37, 30)

In [14]:
# TODO: Remove the most common words from the data (as abortion, goverment,
#       women, right, choice, amazing, time, beautiful, etc.)

In [16]:
# Save the data
train.to_csv('data/processed_data.csv', index=False)
validate.to_csv('data/processed_data_validate.csv', index=False)